{% load wagtailimages_tags wagtailcore_tags%}

{% for gallery in galleries %}
    <a href="{% pageurl gallery %}">
        <div class="picture-card">
            <figure class="picture-card__image">
                {% picture gallery.image format-{avif,webp,jpeg} fill-{300x200-c75,645x480-c75} sizes="(max-width: 768px)150px,30vw" loading="lazy" %}
                <div class="picture-card__contents">
                    <p class="picture-card__title">{{ gallery.title }}</p>
                </div>
            </figure>
        </div>
    </a>
{% endfor %}
