{% load wagtailimages_tags wagtailcore_tags %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for image in images %}
            <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="{{ forloop.counter }}"
                    {% if forloop.counter == 0 %}
                    class="active"
                    aria-current="true"
                    {% endif %}
                    aria-label="{{ image.tittle }}"
            ></button>
        {% endfor %}

    </div>
    <div class="carousel-inner">
        {% for image in images %}
            {% if forloop.counter == 0 %}
                <div class="carousel-item active">
            {% else %}
                <div class="carousel-item">
            {% endif %}
                    <img src="{{ image.url }}" class="d-block w-100" alt="{{ image.title }}">
                </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>