{% load wagtailimages_tags wagtailcore_tags %}

{% for one_knowledge in knowledge %}
    <div class="col-lg-4 col-md-6">
        <div class="blog-item mt-40">
            <div class="blog-content">
                <h3 class="blog-title">
                    <a href="{% pageurl one_knowledge %}">{{ one_knowledge.title }}</a>
                </h3>
            </div>
        </div>
    </div>
{% endfor %}

<!-- start pagination area -->
<div class="col-12">
    <div class="paginatoin-area text-center mt-40">
        <ul class="pagination-box">
            <li><a class="previous" href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a class="next" href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul>
    </div>
</div>