{% load navigation_tags wagtailcore_tags wagtailimages_tags static %}
<!-- Start header area -->
<header class="header__section">
    <!-- Start main header -->
    <div class="main__header position__relative header__sticky">
        <div class="container">
            <div class="main__header--inner d-flex justify-content-between align-items-center">
                <div class="offcanvas__header--menu__open">
                    <a class="offcanvas__header--menu__open--btn" href="javascript:void(0)" data-offcanvas>
                        {% include "includes/icons/burger-icon.html" %}
                        <span class="visually-hidden">Мобильное меню</span>
                    </a>
                </div>
                <div class="main__logo">
                    <h1 class="main__logo--title"><a class="main__logo--link" href="{{ request.site.root_url }}"><img
                            class="main__logo--img" src="{% static 'img/logo/logo.png' %}" alt="logo-img"></a></h1>
                </div>
                <div class="header__menu d-none d-lg-block">
                    <nav class="header__menu--navigation">
                        <ul class="d-flex">
                            {% get_site_root as site_root %}
                            {% top_menu parent=site_root calling_page=self %}
                        </ul>
                    </nav>
                </div>
                <div class="header__account">
                    <ul class="d-flex">
                        <li class="header__account--items  header__account--search__items">
                            <a class="header__account--btn search__open--btn" href="javascript:void(0)" data-offcanvas>
                                {% include "includes/icons/search-icon.html" %}
                                <span class="visually-hidden">Поиск</span>
                            </a>
                        </li>
                        <li class="header__account--items">
                            {% if user.is_authenticated %}
                                <span>{{ user.username }}</span>
                                <a class="header__account--btn" href="{% url 'account_logout' %}">
                                    {% include "includes/icons/logout_icon.html" %}
                                    <span class="visually-hidden">Выход</span>
                                </a>
                            {% else %}
                                <a class="header__account--btn" href="{% url 'account_login' %}">
                                    {% include "includes/icons/account-icon.html" %}
                                    <span class="visually-hidden">Войти</span>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End main header -->

    <!-- Start Offcanvas header menu -->
    <div class="offcanvas-header" tabindex="-1">
        <div class="offcanvas__inner">
            <div class="offcanvas__logo">
                <a class="offcanvas__logo_link" href="{{ request.site.root_url }}">
                    <img src="{% static 'img/logo/logo.png' %}" alt="logo-img">
                </a>
                <button class="offcanvas__close--btn" data-offcanvas>close</button>
            </div>
            <nav class="offcanvas__menu">
                <ul class="offcanvas__menu_ul">
                    {% get_site_root as site_root %}
                    {% mobile_menu parent=site_root calling_page=self %}
                </ul>
            </nav>
        </div>
    </div>
    <!-- End Offcanvas header menu -->

    <!-- Start serch box area -->
    <div class="predictive__search--box " tabindex="-1">
        <div class="predictive__search--box__inner">
            <h2 class="predictive__search--title">Поиск</h2>
            <form class="predictive__search--form" action="#">
                <label>
                    <input class="predictive__search--input" placeholder="Введите запрос.." type="text">
                </label>
                <button class="predictive__search--button" aria-label="search button">
                    {% include "includes/icons/search_box/search-icon.html" %}
                </button>
            </form>
        </div>
        <button class="predictive__search--close__btn" aria-label="search close btn" data-offcanvas>
            {% include "includes/icons/search_box/close-icon.html" %}
        </button>
    </div>
    <!-- End serch box area -->
</header>
