{% load wagtailimages_tags %}
<div class="swiper-slide ">
    {% image self.image fill-1920x600 as slide_image %}
    <div 
            class="hero__slider--items home2__slider--items__bg one"
            style="background: url('{{ slide_image.url }}')"
    >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="slider__content style2">
                        <h2 class="slider__content--maintitle h1">{{ self.heading }}</h2>
                        <p class="slider__content--desc style2 d-sm-2-none">{{ self.text }}</p>
                        <div class="slider__content--footer style2 d-flex align-items-center">
                            {% if self.page_more %}
                                <a class="slider__content--btn primary__btn"
                                   href="{{ self.page_more.url }}">
                                    Подробнее
                                </a>
                            {% endif %}
                            {% if self.video %}
                                <div class="bideo__play slider__play--bideo">
                                    <a class="bideo__play--icon glightbox" href="{{ self.video.url }}"
                                       data-gallery="video">
                                        {% include "base/includes/icons/play-video-icon.html" %}
                                        <span class="visually-hidden">Play</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
