{% extends "base.html" %}
{% load wagtailimages_tags news_tags wagtailcore_tags %}

{% block content %}
    <section class="blog-area section-padding">
        <div class="container">
            <div class="row mtn-40">
                <div class="col-lg-12 order-1 pr-lg-45">
                    <!-- blog single post start -->
                    <div class="blog-item mt-40">
                        {% image page.image width-870 height-600 as page_image %}
                        <div class="blog-thumb">
                            <img src="{{ page_image.url }}" alt="blog thumb">
                        </div>
                        <div class="blog-content blog-details">
                            <h3 class="blog-title">
                                {{ page.title }}
                            </h3>
                            <div class="blog-meta">
                                25 October, 2019
                            </div>
                            {% include_block page.body %}
                        </div>
                    </div>
                    <!-- blog single post start -->

                    <!-- comment area start -->
                    <div class="comment-section section-padding">
                        <h4>03 Comment</h4>
                        <ul>
                            <li>
                                <div class="author-avatar">
                                    <img src="assets/img/blog/comment-icon.png" alt="">
                                </div>
                                <div class="comment-body">
                                    <span class="reply-btn"><a href="#">Reply</a></span>
                                    <h5 class="comment-author">Erik Jhonson</h5>
                                    <div class="comment-post-date">
                                        15 Dec, 2019 at 9:15pm
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim maiores
                                        adipisci optio ex, non pariatur itaque illo sunt?</p>
                                </div>
                            </li>
                            <li class="comment-children">
                                <div class="author-avatar">
                                    <img src="assets/img/blog/comment-icon.png" alt="">
                                </div>
                                <div class="comment-body">
                                    <span class="reply-btn"><a href="#">Reply</a></span>
                                    <h5 class="comment-author">Pitter Looks</h5>
                                    <div class="comment-post-date">
                                        20 Nov, 2019 at 9:30am
                                    </div>
                                    <p>pariatur itaque Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
                                        maiores
                                        adipisci optio ex, laboriosam facilis non illo sunt?</p>
                                </div>
                            </li>
                            <li>
                                <div class="author-avatar">
                                    <img src="assets/img/blog/comment-icon.png" alt="">
                                </div>
                                <div class="comment-body">
                                    <span class="reply-btn"><a href="#">Reply</a></span>
                                    <h5 class="comment-author">Dominic Palma</h5>
                                    <div class="comment-post-date">
                                        25 Jan, 2019 at 8:50pm
                                    </div>
                                    <p>Enim maiores Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        adipisci optio ex, laboriosam facilis non pariatur itaque illo sunt?</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- comment area end -->
                </div>
            </div>
        </div>
    </section>
{% endblock content %}