{% load navigation_tags static wagtailuserbar %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {% if page.seo_title %}
                {{ page.seo_title }}
            {% else %}
                {{ page.title }}
            {% endif %}
        {% endblock %}
        {% block title_suffix %}
            | {{ settings.base.SiteSettings.title_suffix }}
        {% endblock %}
    </title>
    <meta name="description" content="           
            {% block search_description %}
                {% if page.search_description %}{{ page.search_description }}{% endif %}
        {% endblock %}
    ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Force all links in the live preview panel to be opened in a new tab #}
    {% if request.in_preview_panel %}
        <base target="_blank">
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
{% block preloader %}
    {% include "base/includes/preloader.html" %}
{% endblock preloader %}
{% wagtailuserbar %}
{% block header %}
    {% include "base/includes/header.html" %}
{% endblock header %}

{% block breadcrumbs %}
    {% breadcrumbs %}
{% endblock breadcrumbs %}


<main>
    {% block content %}
    {% endblock content %}
</main>
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div>
<hr>

{% block footer %}
    {% include "base/includes/footer.html" %}
{% endblock footer %}

{% block scroll_top_bar %}
    {% include "base/includes/scroll_top_bar.html" %}
{% endblock scroll_top_bar %}

<script src="{% static 'js/vendor/popper.js' %}" defer="defer"></script>
<script src="{% static 'js/vendor/bootstrap5.min.js' %}" defer="defer"></script>
<script src="{% static 'js/plugins/swiper-bundle.min.js' %}" defer="defer"></script>
<script src="{% static 'js/plugins/glightbox.min.js' %}" defer="defer"></script>
<script src="{% static 'js/script.js' %}" defer="defer"></script>

</body>
</html>
