{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags navigation_tags %}
{% block content %}
    <section class="portfolio__section section--padding">
        <div class="container">
            <div class="section__heading text-center mb-40">
                {% if page.intro_title %}
                    <h2 class="section__heading--maintitle text__secondary mb-10">{{ page.intro_title }}</h2>
                {% endif %}
                {% if page.intro_text %}{{ page.intro_text|richtext }}{% endif %}
            </div>
            <div class="portfolio__section--inner">
                <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-2 mb--n30">
                    {% for img in elements %}
                        {% image img original as img_full %}
                        {% image img fill-370x263 as img_thumb %}
                        <div class="col mb-30">
                            <div class="portfolio__items">
                                <div class="portfolio__items--thumbnail position__relative">
                                    <a class="portfolio__items--thumbnail__link glightbox"
                                       href="{{ img_full.url }}">
                                        <img class="portfolio__items--thumbnail__img"
                                             src="{{ img_thumb.url }}" alt="portfolio-img">
                                        <span class="portfolio__view--icon">
                                            {% include "includes/icons/portfolio-view-icon.html" %}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% pagination %}

            </div>
        </div>
    </section>
{% endblock %}

