{% load static wagtailimages_tags wagtailsimplegallery_tags %}

  <div class="row gallery-container">
  {% for img in elements %}
    {% image img fill-250x250 as img_thumb %}
    <div class="gallery-thumbnail-container col-xs-3">
      <a href="{{ img|original_url }}" title="{{ img_thumb.alt|hide_num_order }}">
        <img src="{{ img_thumb.url }}" alt="{{ img_thumb.alt }}" class="gallery-thumbnail">
      </a>
      <link rel="preload" href="{{ img|original_url }}">
    </div>
  {% endfor %}
  </div>
    <script type="text/javascript">
        window.addEventListener('load', function() {
            baguetteBox.run('.gallery-container');
        });
    </script>
