{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags%}

{% block content %}
    <section class="blog-area section-padding">
        <div class="container">
            <div class="row mtn-40">
                <div class="col-lg-12 order-1 pr-lg-45">
                    <!-- blog single post start -->
                    <div class="blog-item mt-40">
                        <div class="blog-content blog-details">
                            <h3 class="blog-title">
                                {{ page.title }}
                            </h3>
                            <div class="blog-meta">
                                25 October, 2019
                            </div>
                            {% include_block page.body %}
                        </div>
                    </div>
                    <!-- blog single post start -->
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
