<!-- Start slider section -->
<section class="hero__slider--section slider__section--bg">
    <div class="hero__slider--inner position__relative">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero__slider--activation swiper">
                        <div class="hero__slider--wrapper swiper-wrapper">
                            {% for slide in page.hero_slider %}
                                {{ slide }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__pagination swiper-pagination"></div>
    </div>
</section>
<!-- End slider section -->