{% load wagtailcore_tags wagtailimages_tags static %}

{% if ancestors %}
    <section class="breadcrumb__section breadcrumb__bg bg-img"
    {% if breadcrumbs_image is not None %}
        {% image breadcrumbs_image width-1920 height-150 as page_banner %}
        data-bg="{{ page_banner.url }}"
    {% else %}
        data-bg="{% static 'img/banner/breadcrumb-bg.webp' %}"
    {% endif %}
    >
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content">
                        <h1 class="breadcrumb__content--title mb-2">{{ page.title }}</h1>
                        <ul class="breadcrumb__content--menu d-flex">
                            {% for ancestor in ancestors %}
                                <li class="breadcrumb__content--menu__items">
                                    {% if forloop.last %}
                                        <span class="text__secondary">{{ ancestor }}</span>
                                    {% else %}
                                        <a href="{% pageurl ancestor %}">{{ ancestor }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
