{% load navigation_tags wagtailcore_tags %}
{% get_site_root as site_root %}
<li class="header__menu--items">
    <a
            {% if calling_section.id == site_root.id %}
                class="header__menu--link fw-bold"
            {% else %}
                class="header__menu--link"
            {% endif %}
                href="{% pageurl site_root %}">
        {{ site_root.title }}
    </a>
</li>
{% for menuitem in menuitems %}
    <li class="header__menu--items">
        <a
                {% if calling_section.id == menuitem.id %}
                    class="header__menu--link fw-bold"
                {% else %}
                    class="header__menu--link"
                {% endif %}
                    href="{% pageurl menuitem %}">
            {{ menuitem.title }}
        </a>
    </li>
{% endfor %}
