{% load wagtailimages_tags wagtailcore_tags static %}
<div class="swiper-slide">
    <article class="blog__card">
        <div class="blog__card--thumbnail">
            <a class="blog__card--thumbnail__link display-block" href="{{ one_news.url }}">
                <img
                        class="blog__card--thumbnail__img display-block"
                        {% if one_news.image %}
                            {% image event.image min-370x263 as one_news_image %}
                        src="{{ one_news_image.url }}"
                        {% else %}
                        src="{% static 'img/blog/blog1.webp' %}"
                        {% endif %}
                        alt="blog-img">
            </a>
        </div>
        <div class="blog__card--content padding__style2">
            <h3 class="blog__card--title">
                <a href="{% pageurl one_news %}">{{ one_news.title }}</a>
            </h3>
        </div>
    </article>
</div>
