{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags event_tags %}

{% block content %}
    <section class="blog__section section--padding">
        <div class="container">
            <div class="section__heading text-center mb-50">
                {% if page.body %}
                    {% include_block page.body %}
                {% endif %}
            </div>
            <div class="blog__section--inner p-0">
                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-2 mb--n50">
                    {% event_section %}
                </div>
                <div class="pagination__area bg__gray--color">
                    <nav class="pagination justify-content-center">
                        <ul class="pagination__wrapper d-flex align-items-center justify-content-center">
                            <li class="pagination__list">
                                <a href="blog.html" class="pagination__item--arrow  link ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.51" height="20.443"
                                         viewBox="0 0 512 512">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                              stroke-linejoin="round" stroke-width="48"
                                              d="M244 400L100 256l144-144M120 256h292"/>
                                    </svg>
                                    <span class="visually-hidden">pagination arrow</span>
                                </a>
                            <li>
                            <li class="pagination__list"><span
                                    class="pagination__item pagination__item--current">1</span></li>
                            <li class="pagination__list"><a href="blog.html" class="pagination__item link">2</a></li>
                            <li class="pagination__list"><a href="blog.html" class="pagination__item link">3</a></li>
                            <li class="pagination__list"><a href="blog.html" class="pagination__item link">4</a></li>
                            <li class="pagination__list">
                                <a href="blog.html" class="pagination__item--arrow  link ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.51" height="20.443"
                                         viewBox="0 0 512 512">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                              stroke-linejoin="round" stroke-width="48"
                                              d="M268 112l144 144-144 144M392 256H100"/>
                                    </svg>
                                    <span class="visually-hidden">pagination arrow</span>
                                </a>
                            <li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
